.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 422px));
    grid-row-gap: 32px;
    max-width: 100%;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-row-gap: 8px;
        justify-content: center;
    }
}
