:root {
    --orange-120: #e87928;
    --orange-100: #ff9548;
    --orange-80: #ffac70;
    --orange-5: #fff3eb;
    --green-100: #47d867;
    --green-5: #e6faea;
    --red-100: #ec6259;
    --red-5: #fdeeed;
    --black-100: #1c1c21;
    --black-40: #d0d0d8;
    --black-5: #f5f5f7;
    --white-100: #ffffff;

    --font-inter: 'Inter', sans-serif;
    --font-bold: 600;
    --font-regular: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--black-100);
    background: var(--white-100);
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}
