.question {
  font-size: 32px;
  font-weight: 600;
  color: var(--black-100);
  max-width: 624px;
  width: 100%;
}

@media (max-width: 768px) {
  .question {
    text-align: center;
  }
}

@media (max-width: 430px) {
  .question {
    font-size: 18px;
  }
}
