.ladder {
    position: relative;
    min-height: 100vh;
    background: var(--white-100);
}

.list {
    display: flex;
    min-height: 100vh;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.level {
    width: 100%;
    max-width: 376px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diamondShape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.levelText {
    position: relative;
    z-index: 1;
    color: var(--black-100);
    font-size: 20px;
    font-weight: var(--font-regular);
    transition: color 300ms ease;
}

.current .levelText {
    color: var(--orange-100);
}

.passed .levelText {
    color: var(--black-40);
}

.default .levelText {
    color: var(--black-100);
}

.menuWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: var(--black-5);
}

.menuTopWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

.burgerButton {
    width: fit-content;
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.burgerButton:hover {
    opacity: 0.7;
}

.icon {
    width: 28px;
    height: 28px;
    color: var(--black-100);
}

@media (max-width: 768px) {
    .ladder {
        min-height: auto;
        background: var(--black-5);
    }

    .list {
        min-height: calc(100vh - 76px);
    }

    .level {
        max-width: 100%;
        height: 32px;
    }

    .levelText {
        font-size: 14px;
    }
}
