.layout {
    display: flex;
    min-height: 100vh;
    background: var(--black-5);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--container-padding);
    gap: 32px;
}

.sidebar {
    flex-shrink: 0;
    min-width: 30%;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .main {
        padding: var(--container-padding);
        padding-top: 62px;
        padding-bottom: 48px;
        justify-content: center;
    }

    .sidebar {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
    }
}
