.layout {
    display: flex;
    min-height: 100vh;
    background: var(--black-5);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 80px;
    padding-top: 133px;
    padding-bottom: 122px;
    padding-right: 16px;
}

.sidebar {
    flex-shrink: 0;
    width: 376px;
    background: var(--white-100);
}

@media (max-width: 1200px) and (min-width: 769px) {
    .sidebar {
        flex-shrink: 1;
        min-width: 300px;
        width: 30%;
    }
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .main {
        padding: var(--container-padding);
        padding-top: 62px;
        padding-bottom: 48px;
        justify-content: center;
    }

    .sidebar {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
    }
}
