.main {
    min-height: 100vh;
    background: linear-gradient(
        to top left,
        var(--orange-5) 50%,
        var(--white-100) 50%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.image {
    width: 100%;
    max-width: 288px;
    height: auto;
    flex-shrink: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 102px;
}

.title {
    font-weight: var(--font-bold);
    font-size: 32px;
    line-height: 115%;
    max-width: 100%;
    text-align: center;
}

@media (min-width: 480px) {
    .title {
        font-size: 40px;
    }

    .intro {
        gap: 64px;
    }
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
        gap: 64px;
        padding: 32px;
    }

    .image {
        max-width: 350px;
    }

    .intro {
        align-items: flex-start;
    }

    .title {
        font-size: 48px;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .main {
        padding: 48px;
    }

    .image {
        max-width: 624px;
    }

    .title {
        font-size: 52px;
        max-width: 624px;
    }
}
