.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    gap: 40px;
  }
}
