.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 56px;
    flex: 1;
    width: 100%;
    gap: 40px;
}

@media (max-width: 768px) {
    .content {
        justify-content: center;
        gap: 100px;
    }
}
